<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS-Real Estate Management System</title>
</head>
<body>
    <div class="container-fluid">
        <div class="card">
            <div class="imgBox" data-text="realEstate">
                <img src="/img/class.jpg"/>
            </div>
            <div class="content">
                <div>
                    <h3>Design</h3>
                    <p>The School Management System is a business Optimization of school or
                 Educational Institute and its Processes. It is designed for better interaction between students,
                  teachers, parents & management. This management software very gracefully handles all the
                   requirements for easy school management.</p>

                </div>
            </div>
        </div>
         <div class="card">
            <div class="imgBox" data-text="realEstate">
                <img src="/img/class.jpg"/>
            </div>
            <div class="content">
                <div>
                    <h3>Design</h3>
                    <p>The School Management System is a business Optimization of school or
                 Educational Institute and its Processes. It is designed for better interaction between students,
                  teachers, parents & management. This management software very gracefully handles all the
                   requirements for easy school management.</p>

                </div>
            </div>
        </div>
         <div class="card">
            <div class="imgBox" data-text="realEstate">
                <img src="/img/class.jpg"/>
            </div>
            <div class="content">
                <div>
                    <h3>Design</h3>
                    <p>The School Management System is a business Optimization of school or
                 Educational Institute and its Processes. It is designed for better interaction between students,
                  teachers, parents & management. This management software very gracefully handles all the
                   requirements for easy school management.</p>

                </div>
            </div>
        </div>
    </div>
</body>
</html>